<p id="notice"><%= notice %></p>

<div class="show-page">
	<h1><%= "#{@destination.city}, #{@destination.country}" %></h1>

	<p>
		Population: <%= number_with_delimiter @destination.population %>
	</p>

	<h1><%= @destination.address %></h1>

	<p><%= "#{@destination.latitude}, #{@destination.longitude}" %></p>

	<p>
	  <%= @destination.description %>
	</p>

	<div class="btn-group">
		<%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %>
		<%= link_to 'Back', destinations_path, class: "btn btn-default" %>
	</div>
</div>

<div id="destination-map"></div>

<%= javascript_tag do %>

	latitude = '<%= j @destination.latitude.to_s %>';
	longitude = '<%= j @destination.longitude.to_s %>';
	address = '<%= j @destination.address.to_s %>';
	description = '<%= j @destination.description.to_s %>';

<% end %>